# LKCO Sistema de Gestión de Estacionamiento
DB_HOST=127.0.0.1
DB_USER=estacionamiento_app
DB_PASSWORD=CAMBIAR_PASSWORD_DB
DB_NAME=estacionamiento
PORT=3010
JWT_SECRET=GENERAR_CON_OPENSSL_RAND_HEX_32
